.main {
    max-width: 1000px;
    margin: 0 auto;
}

.ani img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

#array {
    width: 10.1%;
    height: 3.75%;
    bottom: 5%;
    left: 40%;
}

.page1 {
    background-image: url("../images/01/bg.jpg");
    height: 100%
}

.page2 {
    background-image: url("../images/02/bg02.jpg");
    height: 100%
}

.page3 {
    background-image: url("../images/03/bg.jpg");
    height: 100%
}
.page4,.page6 {
    background-image: url("../images/04-05/bg.jpg");
    height: 100%
}
.page9{
    background-image: url("../images/09/bg.jpg");
}
.music {
    width: 8%;
    height: 8%;
    position: absolute;
    right: 2%;
    top: 2%;
    z-index: 100;
}
.music.stopped .control {
    background: 0 0;
}
.music .control {
    width: 2.5rem;
    height: 2.5rem;
    background: url(//oss3.rabbitpre.com/rp2/apps/static/widget/music/music_c0fda01.gif) transparent no-repeat center center;
    background-size: contain;
}
.music .control .control-after {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -.75rem;
    margin-left: -.75rem;
    background: url(//oss3.rabbitpre.com/rp2/apps/static/widget/music/music_off_8d94020.png) transparent no-repeat center center;
    background-size: 100% 100%;
    -webkit-animation: rotate2d 1.2s linear infinite;
    animation: rotate2d 1.2s linear infinite;
    z-index: -1;
}
.music.rotate{
    -webkit-transition-property: -webkit-transform;
       -webkit-transition-duration: 1s;
       -moz-transition-property: -moz-transform;
       -moz-transition-duration: 1s;
       -webkit-animation: rotate 3s linear infinite;
       -moz-animation: rotate 3s linear infinite;
       -o-animation: rotate 3s linear infinite;
       animation: rotate 3s linear infinite;
}
@-webkit-keyframes rotate{from{-webkit-transform: rotate(0deg)}
    to{-webkit-transform: rotate(360deg)}
}
@-moz-keyframes rotate{from{-moz-transform: rotate(0deg)}
    to{-moz-transform: rotate(359deg)}
}
@-o-keyframes rotate{from{-o-transform: rotate(0deg)}
    to{-o-transform: rotate(359deg)}
}
@keyframes rotate{from{transform: rotate(0deg)}
    to{transform: rotate(359deg)}
}